Django >=4.1, <4.2  # in order to use elephantSQL postgresql version 11.19
django-environ
environ
psycopg2-binary
django-ckeditor
Pillow
djangorestframework
PyJWT
djangorestframework-jwt
django-cors-headers
certifi
charset-normalizer
cloudinary
contourpy
cycler
distlib
django-cleanup
django-cloudinary-storage
djangorestframework-simplejwt
filelock
fonttools
idna
kiwisolver
markdown2
matplotlib
numpy
opencv-contrib-python
packaging
platformdirs
PyJWT
pyparsing
python-dateutil
requests
six
urllib3
