body ::-webkit-scrollbar {
    display: none;
}

.list-background {
    /* background-image: linear-gradient(to bottom,rgb(255, 103, 0),rgb(255, 103, 0,.5)); */
    background-image: url("./images/woodBackgroundImg.jpg");
    height: 100vh;
    /* font-family: 'Times New Roman', Times, serif; */
    overflow-y: scroll;
}

/* Start Search Bar style */
.search-wrapper {
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.checkbox-wrapper {
    color: rgb(255, 103, 0);
}

.searchIcon {
    width: 20px;
    position: relative;
}

.searchButton {
    width: 40px;
    height: 46px;
    border: 1px solid #004e98;
    background: #004e98;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    padding-right: 20px;
}

.searchButton:focus {
    border: 1px solid #004e98;
    background: #004e98;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #004e98;
    border-right: none;
    padding: 5px;
    height: 46px;
    border-radius: 30px 0 0 30px;
    outline: none;
    color: #004e98;
    font-weight: 400;
    min-width: auto;
    opacity: .8;

}

.searchTerm:focus {
    color: #004e98;
    font-weight: 400;
    box-shadow:0 0 0.50rem #004e98;
}


/* Start Recipe Card style */


.card-image {
    height: 300px;
    object-fit: cover;
}

.recipe-card {
    color: #004e98;
    background-image: linear-gradient(to bottom,rgb(255, 103, 0),rgb(255, 103,0));
    border: none;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.card-tritle {
    font-weight: 500;
}


.cards-container {
    overflow-y: scroll;
    max-height: 80vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cards-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
