.login-background {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/backgroundimg.jpg');
    background-size: cover;
    color: white;
    background-position: center;
    /* font-family:'Times New Roman', Times, serif; */
}

.registration-form {
    width: 75%;
}

.login-form-wrapper {
    background-color: rgb(192, 192, 192, .8);
    color: white;
    border-radius: 10px;
    width: 75%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 10%;
}

.form-button {
    cursor:pointer;
}
